
/*PC*/
@media (max-width: 1024px) {

}
/*Tablet*/
@media (max-width: 1023px) and (min-width: 740px) {

}

/*Mobile*/
@media (max-width: 740px) {

    .s-col-full{
        width: 100%;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav{
        display: block;
    }
    #nav>li{
        display: block;
    }
    #nav>li a{
        width: 100%;
        padding: 1px 24px;
    }

    #nav>li:first-child{
        display: inline-block;
        width: auto;
    }
    #nav>li:first-child a:hover{
        background-color: #cccccc;
    }
    #nav .sub-menu{
        position: initial;
        background-color: #333333;
    }
    #nav .sub-menu li{
        display: block;
    }
    #nav .sub-menu a{
        color: #ffffff;
        padding: 5px 41px;
    }
    /*Member band*/

    #content .member-img{
        width: 60%;
    }

}